/*---------Variables-------------*/
/*---------Keyframes-------------*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes opacity-loader {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes opacity-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-element-appear {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate-icon {
  0% {
    transform: rotate(180deg) scaleX(0);
  }
  100% {
    transform: rotate(360deg) scaleX(1);
  }
}
/*---------Mixins-------------*/
/*---------Mixins media queries-------------*/
body {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header img {
  display: block;
  margin: 10px auto;
  width: 170px;
}
@media screen and (min-width: 800px) {
  header img {
    width: 250px;
  }
}

footer h3, .menu-title h1 {
  font-family: "Shrikhand", cursive;
}

/*---------Variables-------------*/
/*---------Keyframes-------------*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes opacity-loader {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes opacity-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-element-appear {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate-icon {
  0% {
    transform: rotate(180deg) scaleX(0);
  }
  100% {
    transform: rotate(360deg) scaleX(1);
  }
}
/*---------Mixins-------------*/
/*---------Mixins media queries-------------*/
form {
  width: 215px;
  margin: auto;
}
form button {
  width: 215px;
  height: 50px;
  border-radius: 2rem;
  border: none;
  margin: 10px 0 40px;
  box-shadow: #c4bfbf 2px 2px 10px;
  color: white;
  cursor: pointer;
  background: linear-gradient(to top left, #9b5fd4, #c878dc, #e997e2);
  transition: all 0.5s;
}
form button:hover {
  filter: brightness(115%);
  box-shadow: #5f5d5d 4px 4px 8px;
}
@media screen and (min-width: 1024px) {
  form button {
    font-size: 1em;
  }
}

/*---------Variables-------------*/
/*---------Keyframes-------------*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes opacity-loader {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes opacity-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-element-appear {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate-icon {
  0% {
    transform: rotate(180deg) scaleX(0);
  }
  100% {
    transform: rotate(360deg) scaleX(1);
  }
}
/*---------Mixins-------------*/
/*---------Mixins media queries-------------*/
@media screen and (min-width: 1024px) {
  .menu_header {
    border-bottom: #cfcfcf solid 2px;
  }
}
.menu_header a {
  position: absolute;
  left: 15px;
  top: 15px;
}
@media screen and (min-width: 800px) {
  .menu_header a {
    font-size: 1.3em;
    top: 20px;
  }
}

main .main_images {
  display: flex;
  margin: 10px 0;
}
main .main_images-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  main .main_images-image {
    width: 45%;
    margin: 0 2.5%;
    border-radius: 0.7rem;
  }
}
main #main_images_desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  main #main_images_desktop {
    display: inline-block;
  }
}

/*---------SECTION Menu---------------*/
.menu-title {
  display: grid;
  grid-template: 85px/300px 1fr 40px;
  align-items: center;
  position: absolute;
  top: 235px;
  width: 94%;
  border-radius: 2rem 2rem 0 0;
  background-color: #f7f6f6;
  padding: 0 3%;
}
@media screen and (min-width: 800px) {
  .menu-title {
    position: initial;
    border-radius: 0;
    margin-top: -10px;
  }
}
@media screen and (min-width: 1024px) {
  .menu-title {
    font-size: 1.15em;
    margin-top: 0;
  }
}
.menu-title h1 {
  font-size: 1.7em;
}
.menu-title i {
  margin-right: 25px;
  font-size: 1.2em;
}
@media screen and (min-width: 1024px) {
  .menu-title i {
    margin: 0 0 0 4%;
  }
}
.menu-title .transparent_hearts {
  opacity: 1;
  grid-column: 3;
  grid-row: 1;
}
.menu-title .colored_hearts {
  opacity: 0;
  grid-column: 3;
  grid-row: 1;
}
.menu-title .colored_hearts:active {
  opacity: 1;
  color: #8b59d5;
  z-index: 1;
  transition: 0.5s;
}
@media screen and (min-width: 1024px) {
  .menu-title .colored_hearts:hover {
    opacity: 1;
    color: #8b59d5;
    z-index: 1;
    transition: 0.5s;
  }
}

.menu {
  width: 94%;
  background-color: #f7f6f6;
  padding: 0 3% 30px;
}
.menu_subtitle {
  color: #555555;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 16px;
}
.menu_subtitle_border {
  width: 45px;
  margin-top: -10px;
  margin-bottom: 20px;
  border-bottom: #a9e0d1 solid 3px;
}
.menu_entrees {
  margin-bottom: 40px;
  opacity: 0;
  animation: opacity-menu 0.8s ease-in-out both;
}
@media screen and (min-width: 800px) {
  .menu_entrees {
    margin: 0 0 6% 40px;
  }
}
@media screen and (min-width: 1024px) {
  .menu_entrees {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }
}
.menu_entrees_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 1.2rem;
  box-shadow: #c4bfbf 2px 2px 10px;
  cursor: pointer;
}
.menu_entrees_elements:hover .description_bold {
  color: #8b59d5;
}
.menu_entrees_elements:hover .description_prix {
  transform-origin: right;
  animation: menu-element-appear 0.5s ease-out;
}
.menu_entrees_elements:hover .description_prix .menu_animation_icon {
  animation: rotate-icon 0.7s ease-in-out;
}
.menu_entrees_elements:hover .prix {
  padding: 0 10px 7px 10px;
}
.menu_entrees_elements:hover .menu_animation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9e0d1;
  color: white;
  width: 70px;
  height: 60px;
  border-radius: 0 1.2rem 1.2rem 0;
  font-size: 1.2em;
}
.menu_entrees_elements_description {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .menu_entrees_elements_description {
    padding-left: 3%;
  }
}
.menu_entrees_elements .description_bold {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}
.menu_entrees_elements .description_normal {
  color: #555555;
  font-size: 0.9em;
}
.menu_entrees_elements .description_prix {
  display: flex;
  flex-direction: row;
}
.menu_entrees_elements .prix {
  align-self: flex-end;
  padding-right: 20px;
  padding-top: 27px;
}
@media screen and (min-width: 800px) {
  .menu_entrees_elements {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .menu_entrees_elements {
    width: 45%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 1440px) {
  .menu_entrees_elements {
    margin-left: 0;
    margin-right: 3%;
  }
}
.menu_plats {
  margin-bottom: 40px;
  opacity: 0;
  animation: opacity-menu 0.8s ease-in-out 0.6s both;
}
@media screen and (min-width: 800px) {
  .menu_plats {
    margin: 0 0 6% 40px;
  }
}
@media screen and (min-width: 1024px) {
  .menu_plats {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }
}
.menu_plats_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 1.2rem;
  box-shadow: #c4bfbf 2px 2px 10px;
  cursor: pointer;
}
.menu_plats_elements:hover .description_bold {
  color: #8b59d5;
}
.menu_plats_elements:hover .description_prix {
  transform-origin: right;
  animation: menu-element-appear 0.5s ease-out;
}
.menu_plats_elements:hover .description_prix .menu_animation_icon {
  animation: rotate-icon 0.7s ease-in-out;
}
.menu_plats_elements:hover .prix {
  padding: 0 10px 7px 10px;
}
.menu_plats_elements:hover .menu_animation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9e0d1;
  color: white;
  width: 70px;
  height: 60px;
  border-radius: 0 1.2rem 1.2rem 0;
  font-size: 1.2em;
}
.menu_plats_elements_description {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .menu_plats_elements_description {
    padding-left: 3%;
  }
}
.menu_plats_elements .description_bold {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}
.menu_plats_elements .description_normal {
  color: #555555;
  font-size: 0.9em;
}
.menu_plats_elements .description_prix {
  display: flex;
  flex-direction: row;
}
.menu_plats_elements .prix {
  align-self: flex-end;
  padding-right: 20px;
  padding-top: 27px;
}
@media screen and (min-width: 800px) {
  .menu_plats_elements {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .menu_plats_elements {
    width: 45%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 1440px) {
  .menu_plats_elements {
    margin-left: 0;
    margin-right: 3%;
  }
}
.menu_desserts {
  margin-bottom: 40px;
  opacity: 0;
  animation: opacity-menu 0.8s ease-in-out 1.2s both;
}
@media screen and (min-width: 800px) {
  .menu_desserts {
    margin: 0 0 6% 40px;
  }
}
@media screen and (min-width: 1024px) {
  .menu_desserts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }
}
.menu_desserts_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 1.2rem;
  box-shadow: #c4bfbf 2px 2px 10px;
  cursor: pointer;
}
.menu_desserts_elements:hover .description_bold {
  color: #8b59d5;
}
.menu_desserts_elements:hover .description_prix {
  transform-origin: right;
  animation: menu-element-appear 0.5s ease-out;
}
.menu_desserts_elements:hover .description_prix .menu_animation_icon {
  animation: rotate-icon 0.7s ease-in-out;
}
.menu_desserts_elements:hover .prix {
  padding: 0 10px 7px 10px;
}
.menu_desserts_elements:hover .menu_animation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9e0d1;
  color: white;
  width: 70px;
  height: 60px;
  border-radius: 0 1.2rem 1.2rem 0;
  font-size: 1.2em;
}
.menu_desserts_elements_description {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .menu_desserts_elements_description {
    padding-left: 3%;
  }
}
.menu_desserts_elements .description_bold {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}
.menu_desserts_elements .description_normal {
  color: #555555;
  font-size: 0.9em;
}
.menu_desserts_elements .description_prix {
  display: flex;
  flex-direction: row;
}
.menu_desserts_elements .prix {
  align-self: flex-end;
  padding-right: 20px;
  padding-top: 27px;
}
@media screen and (min-width: 800px) {
  .menu_desserts_elements {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .menu_desserts_elements {
    width: 45%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 1440px) {
  .menu_desserts_elements {
    margin-left: 0;
    margin-right: 3%;
  }
}
.menu_animation {
  display: none;
}

/*---------FOOTER---------------*/
footer {
  background-color: #363535;
}
footer h3 {
  color: white;
  padding: 10px 0 0 15px;
  margin: 0;
  font-size: 1.1em;
}
@media screen and (min-width: 800px) {
  footer h3 {
    padding-left: 5%;
  }
}
@media screen and (min-width: 1024px) {
  footer h3 {
    font-size: 1.5em;
  }
}
footer ul {
  margin-bottom: 0;
  padding-left: 15px;
  padding-bottom: 20px;
}
@media screen and (min-width: 800px) {
  footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
  }
}
footer ul li {
  margin-top: 8px;
}
@media screen and (min-width: 800px) {
  footer ul li {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  footer ul li {
    font-size: 1.15em;
  }
}
footer ul li a {
  color: white;
}
footer ul li a .fa-utensils {
  padding-right: 15px;
}
footer ul li a .fa-hands-helping {
  padding-right: 9px;
}
footer ul li a:hover {
  text-decoration: underline;
}

/*---------Variables-------------*/
/*---------Keyframes-------------*/
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes opacity-loader {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes opacity-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-element-appear {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate-icon {
  0% {
    transform: rotate(180deg) scaleX(0);
  }
  100% {
    transform: rotate(360deg) scaleX(1);
  }
}
/*---------Mixins-------------*/
/*---------Mixins media queries-------------*/

/*# sourceMappingURL=menu_styles.css.map */
