/*---------Variables-------------*/

$shadow: (rgb(196, 191, 191) 2px 2px 10px);
$footer-color: rgb(54, 53, 53);
$color-primary: rgb(139, 89, 213);
$color-new: rgb(52, 127, 98);
$bg-color-secondary: rgb(169, 224, 209);
$bg-color-primary: rgb(247, 246, 246);
$bg-btn: ( rgb(155, 95, 212), rgb(200, 120, 220) , rgb(233, 151, 226) );
$text-color: rgb(85, 85, 85);
$breakpoints: (
    large-smartphone: 550px,
    tablet: 800px,
    desktop: 1024px,
    large-desktop: 1440px,
);

/*---------Keyframes-------------*/

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -100;
    }
  } 

@keyframes opacity-loader{
    0%, 100%{
      opacity: 0;
    }
  
    60%{
      opacity: 1;
    }
  }

  @keyframes opacity-menu {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

  @keyframes menu-element-appear {
      0% {
          transform: scaleX(0);
      }

      100% {
          transform: scaleX(1);
      }
  }

  @keyframes rotate-icon {
      0% {
          transform: rotate(180deg) scaleX(0);
      }

      100% {
          transform: rotate(360deg) scaleX(1);
      }
  }

/*---------Mixins-------------*/

@mixin news {
    position: absolute;
    right: 33px;
    padding: 7px 10px;
    color: $color-new;
    background-color: $bg-color-secondary;
    border-radius: 5%;
}

@mixin hearts-accueil-position {
    grid-column: 3;
    grid-row: 2/3;                             
    font-size: 1.3em;
    margin: 10px 0 0 0;
    width: 19px;
    height: 18px;
}

@mixin hearts-menu-position {
    grid-column: 3;
    grid-row: 1;
}

@mixin transparent-hearts {
    opacity: 1;
}                                               

@mixin colored-hearts {
    opacity: 0;
    &:active {
        opacity: 1;
        color: $color-primary;
        z-index: 1;
        transition: .5s;
    }   
    @include desktop {
        &:hover {
            opacity: 1;
            color: $color-primary;
            z-index: 1;
            transition: .5s;
        }
    }
}

@mixin menu-elements {
    margin-bottom: 40px;
    opacity: 0;
    @include tablet {
        margin: 0 0 6% 40px;
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
    }
    &_elements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin-bottom: 15px;
        border-radius: 1.2rem;
        box-shadow: $shadow;
        cursor: pointer;
        &:hover {
            .description_bold {
                color :$color-primary;
            }
            .prix {
                padding: 0 10px 10px 10px;
            }
            .menu_animation {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $bg-color-secondary;
                color: white;
                width: 70px;
                height: 60px;
                border-radius: 0 1.2rem 1.2rem 0;
                font-size: 1.2em;
            }
        }
        &_description {
            padding-left: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @include desktop {
                padding-left: 3%;
            }
        }
        .description {
            &_bold {
                color: black;
                font-weight: bold;
                font-size: 1.1em;
            }
            &_normal {
                color: $text-color;
                font-size: .9em;
            }
            &_prix {
                display: flex;
                flex-direction: row;
            }
        }
        .prix {
            align-self: flex-end;
            padding-right: 20px;
        }
        @include tablet {
            width: 90%;
        }
        @include desktop {
            width: 45%;
            margin-left: 3%;
        }
        @include large-desktop() {
            margin-left: 0;
            margin-right: 3%;
        }
    }
}

/*---------Mixins media queries-------------*/

@mixin large-smartphone {
    @media screen and (min-width: map-get($breakpoints, large-smartphone )) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet )) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop )) {
        @content;
    }
}

@mixin large-desktop {
    @media screen and (min-width: map-get($breakpoints, large-desktop )) {
        @content;
    }
}