$shadow: (rgb(196, 191, 191) 2px 2px 10px);
$footer-color: rgb(54, 53, 53);
$color-primary: rgb(139, 89, 213);
$color-new: rgb(52, 127, 98);
$bg-color-new: rgb(169, 224, 209);
$bg-color-primary: rgb(247, 246, 246);
$bg-btn: ( rgb(155, 95, 212), rgb(200, 120, 220) , rgb(233, 151, 226) );
$text-color: rgb(85, 85, 85);