@import "../utils/utils.scss";

form {
    width: 215px;
    margin: auto;
    button {
        width: 215px;
        height: 50px;
        border-radius: 2rem;                    
        border: none;
        margin: 10px 0 40px;
        box-shadow: $shadow;
        color: white;
        background: linear-gradient(to top left, $bg-btn);
    }
}
