.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header img {
    display: block;
    margin: 10px auto;
    width: 170px;
}