body {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

header img {
    display: block;
    margin: 10px auto;
    width: 170px;
}